@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron">
        <h2>Uloge</h2><br />
       
                <section class="col-sm-6">

                    <table class="table-bordered">
                      
                                <a href=" @Url.Action("RegisterRole", "Account")" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Dodeli</span>
                                </a>
                            
                            </table>
                </section>
            
                <br /><br />
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="c">
                            Naziv uloge
                        </th>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="c">
                                @item.Name
                            </td>
                        </tr>

                    }

                    </table>
                </div>